@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@font-face {
	font-family: 'Gilroy';
	src: url(../fonts/Gilroy-Regular.woff);
}

@font-face {
	font-family: 'Gilroy-Medium';
	src: url(../fonts/Gilroy-Medium.woff);
}

@font-face {
	font-family: 'Gilroy-Bold';
	src: url(../fonts/Gilroy-Bold.woff);
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Gilroy', sans-serif;
	background: #F4F8FF;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	line-height: 1.2;
}

* {
	transition: all 0.3s linear;
}

a {
	display: inline-block;
	text-decoration: none;
}

button:focus,
textarea:focus,
select:focus {
	outline: none !important;
	box-shadow: none;
}

input:focus {
	outline: none !important;
}

a:active,
a:focus {
	outline: 0;
	outline: none !important;
}

a,
img,
span,
button,
input,
textarea,
svg {
	transition: .3s all ease;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

header {
	margin-bottom: 50px;
}
header .navbar {
	padding: 25px 0;
	width: 100%;
	justify-content: space-between;
}
header .navbar .navbar-city {
	display: flex;
	align-items: center;
}
header .navbar .navbar-city p {
	font-size: 18px;
	line-height: 140%;
	color: #0D1E25;
	margin-right: 20px;
}
header .navbar .navbar-city a {
	font-size: 18px;
	line-height: 21px;
	position: relative;
	color: #29ABE2;
}
header .navbar .navbar-city a::after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background: #29ABE2;
}
header .navbar .navbar-collapse {
	justify-content: flex-end;
}

header .navbar-expand-lg .navbar-nav .nav-item {
	margin-right: 50px;
}
header .navbar-expand-lg .navbar-nav .nav-item:last-child {
	margin-right: 0;
}
header .navbar-expand-lg .navbar-nav .nav-link {
	font-size: 18px;
	line-height: 140%;
	color: #0D1E25;
	padding: 0;
}
header .navbar-expand-lg .navbar-nav .nav-link:hover {
	color: #29ABE2;
}

header .head-assets {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 0;
}
header .head-assets .numbers {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
header .head-assets .numbers a {
	display: flex;
	align-items: center;
	font-size: 22px;
	line-height: 140%;
	color: #0D1E25;
	margin-bottom: 4px;
}
header .head-assets .numbers a img {
	margin-right: 12px;
}
header .head-assets .numbers span {
	display: block;
	font-size: 18px;
	line-height: 142%;
	color: #7794A1;
}

header .head-assets .callback .btn-blue {
	padding: 13px 35px;
	font-size: 16px;
}

header .head-assets .head-search {
	position: relative;
	width: 360px;
}
header .head-assets .head-search input {
	width: 100%;
	height: 50px;
	background: #F4F8FF;
	border: 1px solid #29ABE2;
	border-radius: 10px;
	padding: 13px 28px;
}
header .head-assets .head-search input::placeholder {
	font-weight: 300;
	font-size: 16px;
	line-height: 140%;
	color: #64A1BE;
}
header .head-assets .head-search button {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 24px;
	margin: auto;
	padding: 0;
	border: none;
	background: transparent;
}
header .head-assets .head-right {
	display: flex;
	align-items: center;
}
header .head-assets .favorite {
	margin-right: 20px;
}
header .head-assets .basket,
header .head-assets .favorite {
	position: relative;
}

header .head-assets .basket .basket-count,
header .head-assets .favorite .favorite-count {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 18px;
	height: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #F4F8FF;
	border-radius: 50%;
	font-size: 13px;
	line-height: 15px;
	color: #29ABE2;
}
/* ----- */
header .header-links-con {
	background: #EBF3FF;
}
header .header-links {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 13px 0;
}
header .header-links a {
	font-size: 18px;
	line-height: 142%;
	color: #0D1E25;
}
header .header-links a.sale {
	color: #EF5252;
}
header .header-links a:hover {
	color: #29ABE2;
}
/* end header */



.main {
	flex-grow: 1;
}

.footer {
	flex-shrink: 0;
}
/* ------------- */

/* start index page */
.index-sec {
	padding-bottom: 100px;
}

.title h1 {
	font-weight: 500;
	font-size: 46px;
	line-height: 54px;
	margin-bottom: 50px;
	color: #0D1E25;
	text-align: center;
}
.index-block .title p {
	font-size: 22px;
	line-height: 140%;
	color: #0D1E25;
	max-width: 744px;
	margin-left: auto;
	margin-right: auto;
}
/* end index page */
.index-slider {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.index-slider {
	padding-top: 50px;
	padding-bottom: 50px;
}
.index-content .swiper-slide img {
	width: 100%;
	height: 420px;
}
.index-slider .swiper-slide-active {
	transform: scale(1.6, 1) !important;
}
.index-content .index-catalog-btn {
	text-align: center;
	margin-top: 30px;
}
/* ------------ */
.index-tab {
	padding: 300px 0 60px;
	margin-top: 110px;
	background: #EBF3FF;
}



































.title .title-text {
	font-family: 'Gilroy-Medium';
	font-size: 46px;
	line-height: 54px;
	color: #09151A;
}

.swiper-button-next,
.swiper-button-prev {
	background: #29ABE2;
	border-radius: 15px;
	width: 30px;
	height: 30px;
	transform: translateY(50%);
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next:after {
	font-size: 14px;
	color: white;
}

.btn-blue {
	font-family: 'Gilroy-Bold';
	font-size: 22px;
	line-height: 142%;
	text-align: center;
	color: #F4F8FF;
	background: #29ABE2;
	border-radius: 8px;
	border: 1px solid #29ABE2;
	padding: 14px 40px;
	/* white-space: nowrap; */
}

.btn-blue:hover {
	background: transparent;
	color: #7794A1;
}

.btn-outline-blue {
	font-family: 'Gilroy-Bold';
	font-size: 22px;
	line-height: 142%;
	padding: 14px 40px;
	color: #7794A1;
	border: 1px solid #29ABE2;
	border-radius: 8px;
}

.btn-outline-blue:hover {
	background: #29ABE2;
	color: white;
}

.select_active .down-arrow {
	transform: rotate(180deg);
}

/* about-us start */
.about-us .title {
	margin-bottom: 30px;
}

.about-us .about-us-parent__box {
	margin-bottom: 50px;
}

.about-us .about-us__info .about-us__info-paragrph {
	font-size: 22px;
	line-height: 140%;
	color: #0D1E25;
	padding-bottom: 20px;
}

.about-us .about-us__info .about-us__info-paragrph:nth-last-child(1) {
	padding-bottom: 0;
}

.about-us .suggestion-box {
	background: #EBF3FF;
	border-radius: 10px;
	height: 100%;
	padding: 20px;
}

.about-us .suggestion-box .suggestion-box__link {
	font-family: 'Gilroy-Medium';
	font-size: 18px;
	line-height: 142%;
	color: #29ABE2;
	margin-bottom: 20px;
}

.about-us .suggestion-box .suggestion-box__link:nth-last-child(1) {
	margin-bottom: 0;
}

.about-us .about-us-parent__box .title {
	display: none;
}

/* about-us end */

/* card-product start */
.card-product .swiper-slide {
	background: #EBF3FF;
	border-radius: 10px;
}

.card-product .big-slide .swiper-slide img {
	width: 100%;
	object-fit: cover;
}

.card-product .big-slide .swiper-slide {
	padding: 23px 42px;
}

.card-product .small-slide {
	margin-top: 10px;
}

.card-product .small-slide .swiper-slide {
	padding: 9px 15px;
	cursor: pointer;
}

.product-size__box .select-menu {
	width: 260px;
	cursor: pointer;
	position: relative;
}

.product-size__box .select-menu .select.active {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.product-size__box .select-menu>.select {
	background: #EBF3FF;
	border: 1.3px solid #29ABE2;
	border-radius: 10px 10px 8px 8px;
	padding: 11px 18px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	transition: all 350ms ease-in-out;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 140%;
	color: #0D1E25;
}

.product-size__box .select-menu>.options-list {
	position: absolute;
	width: 100%;
	padding-top: 8px;
	max-height: 155px;
	overflow-y: auto;
	transition: 0.4s linear 0.2s;
	display: none;
	background: #EBF3FF;
	border-radius: 0px 0px 0 8px;
	margin-top: 1px;
	z-index: 10;
}

.product-size__box .select-menu>.options-list.active {
	display: block;
}

.product-size__box .select-menu>.options-list>.option {
	padding: 10px 24px;
	font-size: 16px;
	line-height: 140%;
	color: #313144;
}

.product-size__box .select-menu>.options-list>.option:hover,
.product-size__box .select-menu>.options-list>.option.selected {
	background: #d5e9f1;
}

.product-size__box .select-menu>.options-list::-webkit-scrollbar {
	background: #29ABE2;
	width: 4px;
	border-radius: 0 0 8px 8px;
}

.product-size__box .select-menu>.options-list::-webkit-scrollbar-thumb {
	background: #EBF3FF;
	border-radius: 0 0 8px 8px;
}

.card-product .about-product .about-product__title {
	font-family: 'Gilroy-Bold';
	font-size: 36px;
	line-height: 142%;
	color: #0D1E25;
}

.card-product .about-product__info-top {
	gap: 30px;
	margin: 10px 0 30px 0;
}

.card-product .about-product__info-top span {
	font-family: 'Gilroy-Medium';
	font-size: 18px;
	line-height: 142%;
	color: #7794A1;
}

.card-product .about-product__info-active {
	gap: 8px;
}

.card-product .about-product__info-active span {
	color: #4CD65A;
}

.card-product .about-product .about-product__price {
	font-family: 'Gilroy-Bold';
	font-size: 36px;
	line-height: 142%;
	color: #29ABE2;
	margin-bottom: 35px;
}

.card-product .product-size__box {
	gap: 30px;
}

.card-product .product-size__box a {
	font-size: 18px;
	line-height: 140%;
	color: #7794A1;
	border-bottom: 1px dashed #29ABE2;
}

.card-product .card-product__btns {
	gap: 20px;
	margin: 37px 0 30px 0;
}

.card-product .product-info p {
	font-family: 'Gilroy-Medium';
	font-size: 18px;
	line-height: 142%;
	color: #0D1E25;
	padding-bottom: 10px;
}

.card-product .product-info span {
	color: #7794A1;
}

.card-product .product-info p:nth-last-child(1) {
	padding-bottom: 0;
}

.card-product .product-tabs {
	margin: 50px 0;
}

.card-product .product-info__title {
	font-family: 'Gilroy-Bold';
	font-size: 28px;
	line-height: 142%;
	color: #0D1E25;
	margin: 30px 0;
}

.product-info__title-sm {
	font-family: 'Gilroy-Bold';
	font-size: 22px;
	line-height: 142%;
	color: #0D1E25;
	margin-bottom: 20px;
}

.card-product .product-nav .product-nav__item {
	font-size: 18px;
	line-height: 140%;
	color: #0D1E25;
	margin: 20px 0 16px 37px;
}

.card-product .product-tabs .nav-pills {
	border-bottom: 1px solid #7794A1;
	text-align: left;
	gap: 20px;
}

.card-product .product-tabs .nav-pills .nav-link {
	font-family: 'Gilroy-Bold';
	font-size: 22px;
	line-height: 142%;
	color: #7794A1;
	padding: 0;
	position: relative;
}

.card-product .product-tabs .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	color: #29ABE2;
	background: none;
	border-radius: 0;
}

.card-product .product-tabs .nav-pills .nav-link.active::before {
	content: "";
	position: absolute;
	width: 100%;
	bottom: -1.5px;
	left: 0;
	border: 1px solid #29ABE2;
}

.card-product .tab-content span {
	white-space: nowrap;
	font-family: 'Gilroy-Medium';
	font-size: 18px;
	line-height: 142%;
	color: #7794A1;
}

.card-product .tab-content p {
	font-size: 18px;
	line-height: 140%;
	color: #0D1E25;
	white-space: nowrap;
}

.card-product .tab-content__box {
	margin-bottom: 20px;
}

.card-product .tab-content__box:nth-last-child(1) {
	margin-bottom: 0;
}

.card-product .product-tabs .line {
	border-bottom: 1px dashed #7794A1;
	width: 100%;
	position: relative;
	bottom: 3px;
}

.card-product .product-description .product-description__paragrph {
	font-size: 18px;
	line-height: 142%;
	color: #0D1E25;
	margin-bottom: 50px;
}

.card-product .product-description .product-description__paragrph span {
	font-family: 'Gilroy-Bold';
}

.card-product .product-description .product-description__paragrph:last-child {
	margin-top: 50px;
	margin-bottom: 0;
}

/* card-product end */

/* prodcut-slider start */
.prodcut-slider {
	margin-top: 50px;
}

.prodcut-slider .swiper-button-next,
.prodcut-slider .swiper-button-prev {
	bottom: -15px;
	top: auto;
	transform: translateX(-50%);
	border-radius: 10px;
}

.prodcut-slider .swiper-button-next {
	left: 50%;
}

.prodcut-slider .swiper-button-prev {
	left: 46%;
}

.prodcut-slider .swiper-slide img {
	border-radius: 10px 10px 0 0;
}

.prodcut-slider .slider-content {
	background: #EBF3FF;
	padding: 20px 24px 23px 24px;
	border-radius: 0 0 10px 10px;
}

.prodcut-slider .product-size__box .select-menu {
	width: 120px;
}

.prodcut-slider .product-size__box .select-menu .select {
	border: 2px solid #29ABE2;
}

.prodcut-slider .product-size__box .select-menu .options-list {
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.prodcut-slider .slider-content h5 {
	font-family: 'Gilroy-medium';
	font-size: 26px;
	line-height: 142%;
	color: #0D1E25;
}

.prodcut-slider .slider-content__header {
	margin-bottom: 15px;
}

.prodcut-slider .slider-content p {
	font-family: 'Gilroy-medium';
	font-size: 22px;
	line-height: 142%;
	color: #0D1E25;
}

.prodcut-slider .slider-content span {
	font-size: 16px;
	line-height: 142%;
	color: #0D1E25;
}

.prodcut-slider .slider-content__footer {
	margin-top: 35px;
}

.prodcut-slider .slider-content__footer a {
	font-family: 'Gilroy-Medium';
	font-size: 22px;
	line-height: 26px;
	color: #29ABE2;
	position: relative;
}

.prodcut-slider .swiper-pagination {
	display: none;
}

.prodcut-slider .slider-content__footer a::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	border: 1px solid #29ABE2;
	width: 100%;
}

.prodcut-slider .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
	background: #29ABE2;
	transform: scale(1);
	width: 12px;
	height: 12px;
}

.prodcut-slider .swiper {
	padding-bottom: 40px;
}

/* prodcut-slider end */

/* checkout-sec start */
.checkout-sec .checkout-goods {
	background: #EBF3FF;
	border-bottom: 0.5px solid #7794A1;
	border-radius: 10px;
	padding: 30px;
	position: relative;
	gap: 30px;
	margin-top: 30px;
}

.checkout-sec .checkout-goods .close-btn {
	position: absolute;
	top: 12px;
	right: 12px;
	background: none;
	border: none;
	padding: 0;
}

.checkout-goods .checkout-goods__info h4 {
	font-size: 22px;
	line-height: 140%;
	color: #0D1E25;
}

.checkout-goods .checkout-goods__info span {
	font-family: 'Gilroy-Medium';
	font-size: 18px;
	line-height: 142%;
	color: #7794A1;
}

.checkout-goods .checkout-goods__counter .incr,
.checkout-goods .checkout-goods__counter .decr {
	cursor: pointer;
	background: none;
	padding: 0;
	border: none;
}

.checkout-sec .checkout-goods__counter .counter {
	background: #EBF3FF;
	border: 1px solid #29ABE2;
	border-radius: 10px;
	padding: 8px 10px;
	gap: 20px;
	margin-right: 20px;
}

.checkout-sec .checkout-goods__counter .counter-price {
	font-family: 'Gilroy-Bold';
	font-size: 22px;
	line-height: 142%;
	color: #0D1E25;
	white-space: nowrap;
}

/* ===================================================
=================== Sardor css style ================ */
.checkout__delivery {
	padding: 30px;
	background: #EBF3FF;
	border-radius: 10px;
	margin-top: 22px;
}

.checkout__delivery h3 {
	font-size: 28px;
	line-height: 142%;
	font-family: 'Gilroy-Bold';
	color: #0D1E25;
	margin-bottom: 30px;
}

.nav {
	border-bottom: 0.3px solid #7794A1;
	gap: 20px;
}

.nav-link {
	padding: 0;
}

.nav-pills .nav-link {
	font-weight: 300;
	font-size: 22px;
	line-height: 142%;
	color: #7794A1;
}

.checkout__delivery .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	background: transparent;
	color: #29ABE2;
	font-size: 22px;
	line-height: 142%;
	border-bottom: 2px solid #29ABE2;
	border-radius: 0;
}

/* checkout__delivery-card */
.checkout__delivery-title {
	margin: 32px 0;
}

.checkout__delivery-title span {
	font-weight: 300;
	font-size: 16px;
	line-height: 140%;
	color: #0D1E25;
	margin-left: 24px;
}

.checkout__delivery-title:nth-child(2) {
	margin: 0;
}

.checkout__delivery-title h4 {
	font-size: 16px;
	line-height: 140%;
	color: #0D1E25;
}

fieldset {
	padding: 0;
}

fieldset input[type="checkbox"],
[type="radio"] {
	width: 100%;
	max-width: 24px;
	height: 24px;
	cursor: pointer;
}


fieldset label {
	cursor: pointer;
	gap: 10px;
	align-items: center;
	display: flex;
}

.checkout__delivery-search {
	margin-bottom: 48px;
}

.checkout__delivery-input {
	position: relative;
}

.checkout__delivery-search input {
	width: 100%;
	padding: 14px 28px 14px 20px;
	border: 1px solid #29ABE2;
	border-radius: 10px;
	background-color: #EBF3FF;
}

.checkout__delivery-search .delivery__search-icon img {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(-50%, -50%);
}

.checkout__delivery-search p {
	font-family: 'Gilroy-Medium';
	font-size: 14px;
	line-height: 142%;
	color: #7794A1;
	padding: 6px 0px 0px 28px;
}

.checkout__delivery-checkbox .radio-item {
	margin-bottom: 20px;
}

.checkout__delivery-checkbox .radio-item span {
	font-weight: 300;
	font-size: 16px;
	line-height: 140%;
	color: #0D1E25;
	margin-left: 24px;
}

.checkout__delivery-contact h3 {
	margin-top: 30px;
}

.delivery__contact-input {
	width: 100%;
	max-width: 491px;
	position: relative;
	margin-bottom: 20px;
}

.delivery__contact-input:last-child {
	margin-bottom: 0;
}

.delivery__contact-input input {
	width: 100%;
	background: #EBF3FF;
	padding: 14px 28px 14px 20px;
	border: 1px solid #29ABE2;
	border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

.delivery__contact textarea {
	width: 100%;
	height: 170px;
	background: #EBF3FF;
	padding: 14px 28px 14px 20px;
	border: 1px solid #29ABE2;
	border-radius: 10px;
	resize: none;
}

.delivery__contact-input .delivery__search-icon img {
	width: 24px;
	cursor: pointer;
}

.delivery__contact-input .delivery__search-icon {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(-50%, -50%);
}

/* checkout__order */
.checkout__order {
	padding: 30px;
	background: #EBF3FF;
	border-radius: 10px;
	margin-top: 22px;
}

.checkout__order .product-size__box .select-menu>.select {
	width: 100%;
	max-width: 160px;
	padding: 0;
	border: none;
	justify-content: flex-start;
	gap: 8px;
	color: #29ABE2;
	border-bottom: 1px dashed #29ABE2;
	border-radius: 0;
}

.checkout-sec .checkout__order .product-size__box .select-menu>.select span {
	font-size: 18px;
	color: #29ABE2;
	white-space: nowrap;
}

fieldset input[type="radio"] {
	position: relative;
	appearance: none;
	-webkit-appearance: none;
	transition: linear 0.8s;
	height: 0;
	width: 0;
	-webkit-tap-highlight-color: transparent;
}

fieldset input[type="radio"]:after {
	content: "";
	position: absolute;
	height: 20px;
	width: 20px;
	top: -10.5px;
	left: 0;
	border-radius: 20px;
	border: 2px solid #7794A1;
	transition: linear 0.2s;
	cursor: pointer;
}

fieldset input[type="radio"]:checked:after {
	border-color: #29ABE2;
}

fieldset input[type="radio"]:checked:before {
	content: "";
	position: absolute;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background: #29ABE2;
	left: -25px;
	top: -5px;
	z-index: 1;
	cursor: pointer;
}

.checkout-sec .checkout__order .product-size__box .select-menu>.select {
	max-width: 175px;
}

.checkout__order .product-size__box .select-menu>.options-list {
	width: auto;
}

.checkout__order .product-size__box .select-menu>.options-list>.option {
	color: #29ABE2;
}

.checkout__order-input form {
	display: flex;
	gap: 10px;
	align-items: center;
	margin: 20px 0 40px 0;
}

.checkout__order-input input {
	width: 100%;
	padding: 14px 28px;
	background-color: #EBF3FF;
	border: 1px solid #29ABE2;
	border-radius: 10px;
}

.checkout__order-input button {
	padding: 12px;
	color: #fff;
	background-color: #29ABE2;
	border: 0;
	border-radius: 8px;
	border: 1px solid #29ABE2;
}

.checkout__order-input button:hover {
	background: transparent;
	color: #7794A1;
}

.checkout-info-flex {
	margin-bottom: 17px;
}

.checkout-info-flex:last-child {
	margin-bottom: 44.5px;
}

.checkout-info-flex h5 {
	font-family: 'Gilroy-Medium';
	font-size: 18px;
	line-height: 142%;
	color: #7794A1;
}

.checkout-info-flex p {
	font-family: 'Gilroy-Bold';
	font-size: 16px;
	line-height: 142%;
	color: #0D1E25;
}

.checkout-info-title h5 {
	font-family: 'Gilroy-Bold';
	font-size: 22px;
	line-height: 142%;
	color: #7794A1;
}

.checkout-info-title p {
	font-family: 'Gilroy-Bold';
	font-size: 22px;
	line-height: 142%;
	color: #0D1E25;
}

.checkout__order .btn-blue {
	padding: 14.5px 0;
	margin: 30px 0 10px 0;
	width: 100%;
}

.checkout__order .btn-blue:hover {
	color: #7794A1;
}

.checkout__order-bottom {
	text-align: center;
	margin-top: 10px;
}

.checkout__order-bottom p {
	font-family: 'Gilroy-Medium';
	font-size: 14px;
	line-height: 142%;
	color: #7794A1;
}

.checkout__order-bottom a {
	font-family: 'Gilroy-Medium';
	font-size: 14px;
	line-height: 142%;
	color: #29ABE2;
}

/* checkout-sec end */

/* =============================================================
=================== Contact Sardor JS css style ================ */
.contact-title {
	width: 100%;
	max-width: 602px;
}

.contact-title h3 {
	font-size: 46px;
	line-height: 54px;
	color: #0D1E25;
	font-weight: 500;
}

.contact-title p {
	font-family: 'Gilroy-Medium';
	font-size: 22px;
	line-height: 142%;
	color: #0D1E25;
	margin: 27px 0 10px 0;
}

.contact-title p:last-child {
	margin: 0;
}

/* contact-phone */
.contact-phone h3 {
	font-family: 'Gilroy-Bold';
	font-size: 26px;
	line-height: 142%;
	color: #0D1E25;
	margin: 50px 0 11px 0;
}

.contact__phone-box {
	display: flex;
	align-items: center;
	gap: 14px;
	margin-top: 10px;
}

.contact__phone-card:first-child {
	margin: 50px 0 40px 0;
}

.contact-phone h5 {
	font-family: 'Gilroy-Bold';
	font-size: 22px;
	line-height: 142%;
	color: #29ABE2;
}

.contact__phone-box p,
span {
	font-family: 'Gilroy';
	font-weight: 400;
	font-size: 22px;
	line-height: 142%;
	color: #0D1E25;
}

.contact__phone-none {
	gap: 20px;
	flex-wrap: wrap;
}

.map {
	margin-top: 130px;
}

.map iframe {
	width: 100%;
}

/* =====================================================================
=================== location__title Sardor JS css style start ============= */
.location__title h3 {
	font-weight: 500;
	font-size: 46px;
	line-height: 54px;
	color: #091519;
	margin-bottom: 30px;
}

.location__title p {
	font-family: 'Gilroy-Medium';
	font-size: 18px;
	line-height: 142%;
	color: #0D1E25;
	margin-bottom: 10px;
}

.location__select {
	flex-wrap: wrap;
	gap: 20px;
	color: #29ABE2;
	margin-bottom: 10px;
}

.location__select .product-size__box {
	width: 100%;
	max-width: 360px;
}

.location__select .product-size__box .select-menu {
	width: 100%;
}

.location__select .product-size__box:last-child {
	width: 100%;
	max-width: 299px;
}

.location__select .product-size__box .select-menu>.select {
	background-color: transparent;
}

.location__select .select span {
	color: #29ABE2;
}

.product-size__box .select-menu>.options-list>.option {
	color: #29ABE2;
}

.location__card {
	width: 100%;
	max-width: 405px;
	margin-top: 20px;
	padding: 22px 36px 22px 26px;
	background: #EBF3FF;
	border-radius: 10px;
}

.location__card h5 {
	font-family: 'Gilroy';
	font-weight: 500;
	font-size: 22px;
	line-height: 142%;
	color: #091519;
	margin-bottom: 10px;
}

.location__card p {
	width: 100%;
	margin-bottom: 30px;
}

.location__card p {
	font-family: 'Gilroy';
	font-weight: 400;
	font-size: 22px;
	line-height: 142%;
	color: #091519;
}

.location__card .location__text-2 {
	margin-bottom: 30px;
}

.location__card .location__text-2 {
	margin-bottom: 61px;
}

.location .row>* {
	padding-right: calc(var(--bs-gutter-x) * .4);
	padding-left: calc(var(--bs-gutter-x) * .4);
}

/* =================================================================
=================== location__title Sardor JS css style end ============= */

footer {
	background: #0D1E25;
	padding: 45px 0;
	margin-top: 120px;
}
footer .ftr-block {
	display: flex;	
	align-items: center;
	justify-content: space-between;
}
footer .ftr-block .ftr-number {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

footer .ftr-block .ftr-number .ftr-tel {
	display: flex;
	align-items: center;
	font-weight: 300;
	font-size: 20px;
	line-height: 23px;
	margin-bottom: 4px;
	color: #F4F8FF;
}
footer .ftr-block .ftr-number .ftr-tel img {
	margin-right: 12px;
}

footer .ftr-block .ftr-number span {
	margin-bottom: 16px;
	font-weight: 300;
	font-size: 16px;
	line-height: 140%;
	color: #EBF3FF;
}
footer .ftr-block .ftr-number .btn-blue {
	padding: 13px 20px;
	font-size: 16px;
	line-height: 142%;
	color: #F4F8FF;
}
footer .ftr-block .ftr-menu {
	display: flex;
	align-items: flex-start;
}
footer .ftr-block .ftr-menu .one {
	margin-right: 170px;
}
footer .ftr-block .ftr-menu .ftr-menu-links {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	gap: 12px;
}
footer .ftr-block .ftr-menu .ftr-menu-links a {
	font-weight: 300;
	font-size: 16px;
	line-height: 140%;
	color: #F4F8FF;
}



















/* @media query */
/* @media (min-width: 1656px) {

	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl {
		max-width: 1256px;
		margin: 0 auto;
	}
} */

@media (max-width: 1400px) {
	header .header-links a {
		font-size: 16px;
	}
	header .head-assets .callback .btn-blue {
		padding: 13px 25px;
	}
	header .head-assets .head-search {
		width: 300px;
	}
	header .head-assets .numbers a {
		font-size: 20px;
	}
	header .head-assets .numbers span {
		font-size: 16px;
	}
}

@media (max-width: 1200px) {
	.checkout-sec .checkout-goods {
		gap: 20px;
	}
}

@media (max-width: 992px) {
	.about-us .about-us__info .about-us__info-paragrph {
		font-size: 18px;
		line-height: 25.2px;
	}

	.card-product .about-product .about-product__title {
		margin-top: 30px;
	}

	.prodcut-slider .slider-content h5 {
		font-size: 20px;
	}

	.prodcut-slider .swiper-button-prev {
		left: 40%;
	}

	.prodcut-slider .swiper-button-next {
		left: 60%;
	}

	.contact__phone-none {
		gap: 0;
	}

	.location__card h5 {
		font-size: 18px;
	}

	.location__card p {
		font-size: 16px;
	}

	.location__card .location__text-1 {
		margin-bottom: 50px;
	}
}

@media (max-width: 768px) {
	.about-us .about-us-parent__box .col-lg-7 {
		order: 1;
	}

	.about-us .about-us__info {
		margin-top: 30px;
	}

	.card-product .about-product .about-product__title {
		font-size: 30px;
	}

	.btn-blue,
	.btn-outline-blue {
		font-size: 18px;
		padding: 14px 20px;
	}

	.prodcut-slider .slider-content p,
	.prodcut-slider .slider-content__footer a {
		font-size: 18px;
	}

	.prodcut-slider .slider-content {
		padding: 20px;
	}

	.prodcut-slider .product-size__box .select-menu .select {
		padding: 5px 10px;
	}

	/* Sardor css media style */
	.checkout__delivery {
		background: transparent;
		padding: 0;
	}

	.title .title-text {
		font-size: 26px;
	}

	.checkout-sec .checkout-goods {
		flex-wrap: wrap;
	}

	.checkout__delivery h3 {
		font-size: 20px;
	}

	.checkout__delivery .nav-pills .nav-link.active,
	.nav-pills .show>.nav-link {
		font-size: 18px;
	}

	.nav-pills .nav-link {
		font-size: 18px;
	}

	fieldset {
		width: auto;
		height: auto;
	}

	.checkout__delivery-search p {
		padding: 6px 0 0 0;
		font-size: 14px;
	}

	.contact-title p {
		font-size: 18px;
	}

	.contact-title p:last-child {
		font-size: 16px;
	}

	.contact-phone h3 {
		font-size: 20px;
	}

	.contact-phone h5 {
		font-size: 20px;
	}

	.contact__phone-card:first-child {
		margin: 30px 0 0 0;
	}

	.contact__phone-card {
		margin: 30px 0 0 0;
	}

	.none {
		display: none;
	}

	.location__select .product-size__box,
	.location__select .product-size__box:last-child {
		max-width: 100%;
	}

	.location__select {
		margin-bottom: 40px;
	}

	.location__card {
		max-width: 100%;
	}

	.location__card p {
		margin-bottom: 47px;
	}

	.location__card .location__text-1 {
		margin-bottom: 69px;
	}

	.location__card .location__text-2 {
		margin-bottom: 69px;
	}
}

@media (max-width: 530px) {
	.card-product .product-size__box {
		flex-direction: column;
		align-items: start !important;
	}

	.card-product .card-product__btns {
		flex-direction: column;
		text-align: center;
	}
}

@media (max-width: 500px) {
	.card-product .media-none__btn {
		display: none;
	}

	.location__card {
		padding: 22px 26px;
	}

	.map {
		margin-top: 50px;
	}

	.card-product .about-product .about-product__title {
		font-size: 26px;
	}

	.card-product .about-product .about-product__price {
		margin-bottom: 20px;
	}

	.card-product .product-size__box a {
		font-size: 14px;
	}

	.card-product .card-product__btns {
		margin: 30px 0;
	}

	.card-product .product-info p {
		font-size: 16px;
	}

	.card-product .product-tabs {
		margin: 42px 0 30px 0;
	}

	.card-product .product-tabs .nav-pills .nav-link {
		font-size: 18px;
	}

	.card-product .product-info__title {
		font-size: 20px;
		line-height: 23px;
		margin-bottom: 20px;
	}

	.card-product .tab-content span,
	.card-product .tab-content p {
		font-size: 14px;
	}

	.product-info__title-sm {
		font-size: 18px;
	}

	.card-product .product-nav .product-nav__item {
		margin: 0 0 10px 0px;
		font-size: 16px;
	}

	.card-product .product-description .product-description__paragrph {
		font-size: 16px;
		margin-bottom: 20px;
	}

	.product-nav {
		margin: 0;
	}

	.card-product .product-description .product-description__paragrph:last-child {
		margin-top: 20px;
	}

	.prodcut-slider {
		margin-top: 30px;
	}

	.prodcut-slider .swiper-button-next,
	.prodcut-slider .swiper-button-prev {
		display: none;
	}

	.prodcut-slider .product-size__box .select-menu {
		width: 100px;
	}

	.btn-blue,
	.btn-outline-blue {
		font-size: 16px;
	}

	.prodcut-slider .swiper-pagination {
		display: block;
	}

	.checkout-sec .checkout-goods {
		padding: 20px;
	}

	.checkout-sec .checkout-goods__counter .counter {
		order: 1;
		margin: 0 0 0 42px;
	}

	.checkout__order {
		padding: 20px 16px;
	}
}

@media (max-width: 375px) {
	.about-us .suggestion-box {
		width: 218px;
		height: fit-content;
		margin: 0 0 0 auto;
		right: 13px;
		top: 15px;
		position: absolute;
	}

	.about-us-parent__box .offset-lg-1 {
		margin-bottom: 140px;
	}

	.about-us .suggestion-box .suggestion-box__link {
		font-size: 14px;
		margin-bottom: 10px;
	}
}